<!-- public/views/questions.html -->
<div>
    <h1>Questions</h1>
    
    <div class="panel panel-default">
	    <table class="table table-striped table-hover">
		    <div class="panel-heading clearfix">
				<div class="row">
					<div class="col-lg-6">
				    	<button type="button" class="btn btn-primary" ng-click="newQuestion()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une question</button>
					</div>
					<div class="col-lg-5">
						<div class="input-group">
							<span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
							<input type="text" class="form-control" placeholder="Rechercher" aria-describedby="search-addon" ng-model="query">
						</div>
					</div>
					<div class="col-lg-1">
						<button ng-click="askRemoveMulti()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
					</div>
				</div>
		    </div>
				<thead>
					<tr>
						<th>id</th>
						<th>Question</th>
						<th>Update</th>
						<th>Quizz associé</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in questions | filter:query">
						<td>{{question.customId}}</td>
						<td>{{question.text}}</td>
						<td>{{question.updated | date:'dd/MM/yy HH:mm'}}</td>
						<td>{{question.quizz}}</td>
						<td>
							<div class="pull-right">
								<button ng-click="editQuestion(question)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
								<button ng-click="askRemoveQuestion(question)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
								<label>
									<input type="checkbox" ng-model="question.toRemove" value="option1" aria-label="...">
								</label>
							</div>
						</td>
<!-- 						<td><a href="#" class="glyphicon glyphicon-edit" aria-hidden="true"></a>&nbsp;<a href="#" class="glyphicon glyphicon-trash" aria-hidden="true"></a></td> -->
					</tr>
				</tbody>
	    </table>
	</div>
</div>