<!-- public/views/addQuizz.html -->

<div>
    <h1>Quizz</h1>
    <div class="row">
		<div class="col-lg-6">
		    <form class="form-horizontal">
				<fieldset>
					<!-- Form Name -->
					<legend>{{ action }}</legend>
			
					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="quizz_name">Nom</label>  
					  <div class="col-md-8">
					    <input id="quizz_name" name="quizz_name" type="text" placeholder="Nom du quizz" class="form-control input-md" required="" ng-model="quizz.name">
					  </div>
					</div>
			
					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="quizz_locale">Locale</label>  
					  <div class="col-md-8">
						<input id="quizz_locale" name="quizz_locale" type="text" placeholder="Langue (ex: fr_FR)" class="form-control input-md" required="" ng-model="quizz.locale">
					  </div>
					</div>
			
					<!-- File input-->
					<div ng-if="!!quizz" class="form-group">
					  <label class="col-md-4 control-label" for="quizz_csv">CSV</label>  
					  <div class="col-md-8">
						<input id="quizz_csv" name="quizz_csv" type="file" class="form-control input-md" required="">
					  </div>
					</div>
			
					<!-- Button -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="singlebutton"></label>
					  <div class="col-md-4">
					    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="submit(quizz)">{{ buttonCaption }}</button>
					  </div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-lg-6">
			<!-- Form Name -->
			<legend>Applications</legend>
			
			<form class="form-inline">
			  <div class="form-group">
			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Application id" ng-model="newapp">
			  </div>
			  <button type="submit" class="btn btn-default" ng-click="addAppId(newapp)">+</button>
			</form>
			
		    <table class="table">
				<thead>
					<tr><th>App ids</th><th>Supprimer</th><tr>
				</thead>
				<tbody>
					<tr ng-repeat="appid in quizz.apps">
						<td>{{appid}}</td>
						<td>
							<button ng-click="removeApp(appid)" type="button" class="btn btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ng-if="!!quizz">
		<div>
			<h3>Thèmes</h3>
		    <div class="panel panel-default">
			    <table class="table">
					<tbody>
						<tr ng-repeat="topic in topics">
							<td>{{topic}}</td>
						</tr>
					</tbody>
			    </table>
			</div>
		</div>
		<div ng-controller="QuestionListController">
			
			    <h3>Questions</h3>
    
			    <div class="panel panel-default">
				    <table class="table table-striped table-hover">
					    <div class="panel-heading clearfix">
							<div class="row">
								<div class="col-lg-6">
							    	<button type="button" class="btn btn-primary" ng-click="newQuestion()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une question</button>
								</div>
								<div class="col-lg-5">
									<div class="input-group">
										<span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
										<input type="text" class="form-control" placeholder="Rechercher" aria-describedby="search-addon" ng-model="query">
									</div>
								</div>
								<div class="col-lg-1">
									<button ng-click="askRemoveMulti()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
									<label>
										<input type="checkbox" ng-click="selectAll(removeAll)" ng-model="removeAll" value="option1" aria-label="...">
									</label>
								</div>
							</div>
					    </div>
							<thead>
								<tr>
									<th>id</th>
									<th>Question</th>
									<th>Thème</th>
									<th>Mise à jour</th>
									<th>Difficulté</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="question in questions | filter:query">
									<td>{{question.customId}}</td>
									<td>{{question.text}}</td>
									<td>{{question.topic}}</td>
									<td>{{question.updated | date:'dd/MM/yy HH:mm'}}</td>
									<td>{{question.difficulty}}</td>
									<td>
										<div class="pull-right">
										<button ng-click="editQuestion(question)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
										<button ng-click="askRemoveQuestion(question)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
										<label>
											<input type="checkbox" ng-model="question.toRemove" value="option1" aria-label="...">
										</label>
										</div>
									</td>
			<!-- 						<td><a href="#" class="glyphicon glyphicon-edit" aria-hidden="true"></a>&nbsp;<a href="#" class="glyphicon glyphicon-trash" aria-hidden="true"></a></td> -->
								</tr>
							</tbody>
				    </table>
				</div>
		</div>
<!-- Not added questions -->
		<div ng-if="!!notAdded">
			<h3>N'ont pas été ajoutées :</h3>
		    <div class="panel panel-default">
			    <table class="table bg-warning">
						<tbody>
							<tr ng-repeat="question in notAdded">
								<td>{{question.id}}</td>
								<td>{{question.lang}}</td>
								<td>{{question.topic}}</td>
								<td>{{question.tag}}</td>
								<td>{{question.question}}</td>
								<td>{{question.correctAnswer}}</td>
								<td>{{question.answer2}}</td>
								<td>{{question.answer3}}</td>
								<td>{{question.answer4}}</td>
								<td>{{question.size}}</td>
								<td>{{question.author}}</td>
								<td>{{question.relector}}</td>
								<td>{{question.difficulty}}</td>
								<td>{{question.keep}}</td>
							</tr>
						</tbody>
			    </table>
			</div>
		</div>
	</div>
</div>